<header id="header">
	<h1>todos</h1>
	<input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo.text" ui-event="{ blur: 'addTodo()' }" autofocus>
</header>
<section id="main" ng-show="todoList.length > 0">
	<input id="toggle-all" type="checkbox" >
	<!-- TODO: Mark all as completed -->
	<label for="toggle-all">Mark all as complete</label>
	<ul id="todo-list" ng-repeat="todo in todoList">
		<li ng-class="getClassForTask($index)" ui-event="{ dblclick: 'editing[$index]=true;' }">
			<div class="view">
				<input class="toggle" type="checkbox" ng-checked="todo.done" ng-click="todo.done=!todo.done;todoList.update(todo);">
				<label>{{ todo.text }}</label>
				<button class="destroy" ng-click="removeTodo(todo)"></button>
			</div>
			<input class="edit" ng-model="todo.text" value="{{ todo.text }}" ui-event="{ blur: 'editing[$index]=false;todoList.update(todo);' }">
		</li>
	</ul>
</section>

<footer id="footer" ng-show="todoList.length > 0">
	<span id="todo-count"><strong>{{ numberOfLeftTasks() }}</strong> <ng-pluralize
		count="numberOfLeftTasks()"
		when="{ '0': 'items left',
				'1': 'item left',
				'other': 'items left'}">
		</ng-pluralize>
	</span>
	<!-- Remove this if you don't implement routing -->
	<ul id="filters">
		<li>
			<a class="selected" href="#/">All</a>
		</li>
		<li>
			<a href="#/active">Active</a>
		</li>
		<li>
			<a href="#/completed">Completed</a>
		</li>
	</ul>
	<button id="clear-completed" ng-show="areTasksCompleted()" ng-click="removeCompletedTask()">Clear completed ({{ numberOfCompletedTask() }})</button>
</footer>